extends layout_main

block content
	container.col-md-8
		
		h1= title

		button.btn.btn-primary.btn-success(type='button', onclick="location.href='/server';") Voir les serveurs disponibles
		
		<br><hr><br>

		h1 Infos utiles

		a(href='http://nodejs.org' target='blank') node js
		br
		a(href='http://expressjs.com' target='blank') express js
		br
		a(href='http://getbootstrap.com' target='blank') bootstrap
