doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		script(src='/js/bootstrap.min.js')
	body.mainbg
		nav.navbar.navbar-default.navbar-static-top.navbar-inverse(role='navigation' style='position: fixed;top: 0px;width: 100%; margin-left:-50px;')
			.container-fluid
				.navbar-header
					.navbar-brand Panda Server
				|  
				div
					ul.nav.navbar-nav
						li.active
							a(href='./') Accueil
						|  
						li
							a(href='/server') Serveurs

		block content
